* {
    box-sizing: border-box;
    padding:0;
    margin: 0;
    font-family: 'IBM Plex Sans KR', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

code {
    font-family: 'Pretendard', monospace;
}

a {
    text-decoration: none;
}